@inject IControllerServices<SmartPhoneModel> _SmartPhoneService;
@inject IControllerServices<Brand> _BrandService;
@inject NavigationManager Nav;


<div class="border m-2 p-3 rounded rounded-1 shadow">

        <EditForm Model="ObjSmartPhone">
            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Numero Telefono
                </label>
                <InputText @bind-Value="ObjSmartPhone.PhoneNumber" class="form-control form-control-sm w-75"></InputText>
            </div>
            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Fecha Adquisición
                </label>
                <InputDate @bind-Value="ObjSmartPhone.AdquisitionDate" class="form-control form-control-sm w-75"></InputDate>
            </div>
            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Modelo
                </label>
                <InputText @bind-Value="ObjSmartPhone.PhoneModel" class="form-control form-control-sm w-75"></InputText>
            </div>

            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Numero de Serie
                </label>
                <InputText @bind-Value="ObjSmartPhone.PhoneSerial" class="form-control form-control-sm w-75"></InputText>
            </div>
            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Costo
                </label>
                <InputText @bind-Value="ObjSmartPhone.Cost" class="form-control form-control-sm w-75"></InputText>
            </div>
            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Descripción
                </label>
                <InputTextArea @bind-Value="ObjSmartPhone.Description" class="form-control form-control-sm w-75"></InputTextArea>
            </div>

            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Estado
                </label>
                <InputText @bind-Value="ObjSmartPhone.Status" class="form-control form-control-sm w-75"></InputText>
            </div>
            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    Activo
                </label>
                <InputCheckbox @bind-Value="ObjSmartPhone.isActive" class="form-control form-control-sm w-75"></InputCheckbox>
            </div>

            <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
                <label>
                    @nameof(ObjSmartPhone.BrandId)
                </label>
                <InputSelect @bind-Value="ObjSmartPhone.BrandId" class=" w-50">
                    @foreach (Brand item in Brands)
                    {
                        <option value="@item.BrandId"> @item.Name </option>
                    }
                </InputSelect>
            </div>
        </EditForm>
        <button @onclick="Save" class="btn btn-outline-info">
            Agregar
        </button>
        <button @onclick="Cancel" class="btn btn-outline-warning">
            Cancelar
        </button>

</div>


@code {
    [Parameter]
    public SmartPhoneModel ObjSmartPhone { get; set; }

    List<Brand> Brands = new();

    protected override async Task OnInitializedAsync()
    {
        ObjSmartPhone.AdquisitionDate = DateTime.Now;
        Brands = _BrandService.GetAll();
        base.OnInitializedAsync();

    }

    private async Task Save()
    {
        try
        {
            _SmartPhoneService.Update(ObjSmartPhone);
            Nav.NavigateTo($"smartphones");
        }
        catch (Exception e)
        {

            throw e;
        }
    }
    private async Task Cancel()
    {
        Nav.NavigateTo($"smartphones");
    }
}
