@inject IControllerServices<Departament> _DepartamentService



<div class="border m-2 p-3 rounded rounded-1 shadow">
    @if (HiddeForm)
    {
        <button @onclick="()=>HiddeForm=false" class="btn btn-outline-warning"> Agregar Departamento</button>
    }
    else
    {
        <div class="d-flex flex-row w-100 flex-justify-around">
            <label>
                Nombre del Departamento
            </label>
            <EditForm Model="ObjDepartament">
         
                <InputText @bind-Value="ObjDepartament.Name" class=" form-control border border-1 rounded mx-2 w-75"></InputText>
            </EditForm>
            <button @onclick="Save" class="btn btn-outline-success mx-2"> Agregar</button>
            <button @onclick="()=>HiddeForm=true" class="btn btn-outline-danger mx-2"> Cancelar</button>
        </div>
    }
</div>


@code {
    [Parameter]
    public EventCallback OnDepartamentAdded { get; set; }

    bool HiddeForm = true;

    Departament ObjDepartament = new();

    private async Task Save()
    {
        try
        {
            _DepartamentService.Add(ObjDepartament);
            ObjDepartament = new();
            HiddeForm = true;
        }
        catch (Exception e)
        {

            throw;
        }


    }

}
