@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager;

<div class="border m-2 p-3 rounded rounded-1 shadow">
    <h3>Cambio Password</h3>
    <input type="text" @bind-value="@passowrd" class="form-control" />
    <button  @onclick="ChangePassword" class="btn btn-outline-info">
        Cambiar
    </button>
</div>
<label>@errormessage</label>

@code {
    [Parameter]
    public IdentityUser identityUser { get; set; }
    string errormessage = "";
    string passowrd = "";
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();




    }

    private async Task ChangePassword()
    {
        await userManager.RemovePasswordAsync(identityUser);
        var result = await userManager.AddPasswordAsync(identityUser, passowrd);
        errormessage = (result.Succeeded) ? "Contrase;a cambiada" : "Error interno";
    }
}
