@page "/peripherals"

@inject IControllerServices<PeripheralModel> _PeripheralsService;




<h3>
    Dispositivos 
</h3>
<AuthorizeView Roles="Administrador">
    <Authorized>
        <AddPeripheralComponenet OnPeripheralAdded="@UpdateList" />
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Administrador,Lector">
    <Authorized>
        <TablePeripheralComponent Peripherals="@peripherals" />
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code{
    List<PeripheralModel> peripherals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        peripherals = _PeripheralsService.GetAll();
    }
    private async Task UpdateList()
    {
        // Actualizar la lista de computadoras después de agregar una nueva computadora
        await InvokeAsync(() =>
        {
            peripherals = _PeripheralsService.GetAll();
            StateHasChanged(); // Asegura que se vuelva a renderizar el componente padre
        });
    }
}







