@page "/extensions"

@inject IControllerServices<PhoneExtension> _ExtensionsService;




<h3>
    Lista de Extensiones
</h3>

<AuthorizeView Roles="Administrador,Lector">
    <Authorized>
        <AddExtensionComponent OnExtensionAdded="UpdatedExtension" />
        <TableExtensionsComponent Extensions="@phoneExtensions" PublicInfo="@false" />
    </Authorized>
    <NotAuthorized>
        <TableExtensionsComponent Extensions="@phoneExtensions" PublicInfo="true" />
    </NotAuthorized>
</AuthorizeView>




@code {
    private List<PhoneExtension> phoneExtensions = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        phoneExtensions = _ExtensionsService.GetAll().OrderBy(i => i.Extension).ToList();
    }
    private void UpdatedExtension()
    {
        phoneExtensions = _ExtensionsService.GetAll().OrderBy(i => i.Extension).ToList();
    }
}
