@page "/extension/assign/{id}"

@inject IControllerServices<PhoneExtension> _ExtensionsService


<h3>
    Asignación de Extension
</h3>

<AuthorizeView Roles="Administrador,Lector">
    <Authorized>
        <p>
            Indique el nombre del empleado que tendrá asignada la extension en cuestión
        </p>
        <AssignExtensionComponent PhoneExtension="@extension" />
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>



@code {
    [Parameter]
    public string id { get; set; }

    public PhoneExtension extension = new();

    int _id = 0;

    protected override async Task OnInitializedAsync()
    {
        bool flag = int.TryParse(id, out _id);
        if (flag)
        {
            extension = _ExtensionsService.GetById(_id);
        }
        base.OnInitializedAsync();
    }

}