@page "/employees"
@inject IControllerServices<Employee> _EmployeesServices;
<h3>Lista de Empleados</h3>

<AuthorizeView Roles="Administrador">
    <Authorized>
        <AddDepartamentComponent />
        <AddEmployeeComponent OnEmployeeAdded="UpdateEmployeeList" />
        
    </Authorized>
    <NotAuthorized>
        No posee permisos
    </NotAuthorized>
</AuthorizeView>

<TableEmployeeComponent Employees="@Employees" />







@code {
    List<Employee> Employees { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = new();
        base.OnInitializedAsync();
        Employees = _EmployeesServices.GetAll();

    }


    private async Task UpdateEmployeeList()
    {
        await InvokeAsync(() =>
        {
            Employees = _EmployeesServices.GetAll().ToList();
            StateHasChanged();
        });
    }
}
