

<div class="p-2 my-3 shadow rounded rounded-1 border border-1">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row gap-2 align-middle justify-content-center">
            <span class=" bg-success h-100 h-100 p-2 rounded rounded-1 oi oi-list text-white" aria-hidden="true"></span>
            <!-- Encabezado del componente -->
            <h3 class="text-start h-100 align-content-center">Historial</h3>
        </div>

        @if (HiddeTable)
        {
            <button @onclick="()=>HiddeTable=false" class="btn btn-outline-primary">Ver Historial</button>
        }
        else
        {
            <button @onclick="()=>HiddeTable=true" class="btn btn-outline-primary my-2">Ocultar Historial</button>
        }
    </div>


    @if (!HiddeTable)
    {
        <table class="table ">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Comentario
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (HistoryModel item in Histories)
                {
                    <tr>
                        <td>
                            @item.CreationDate.ToLongDateString()
                        </td>
                        <td>
                            @item.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter]
    public List<HistoryModel> Histories { get; set; }
    bool HiddeTable = true;

}
