@page "/"

<PageTitle>Home</PageTitle>


<AuthorizeView Roles="Administrador,Lector">
    <Authorized>
        <AvariableComputersComponent />
    </Authorized>
    <NotAuthorized>
        <h3>
            No posee Permisos para ver la información
        </h3>
    </NotAuthorized>
</AuthorizeView>

