@inject IControllerServices<PhoneExtension> _ExtensionsService;

@inject NavigationManager Nav;


<div class="border m-2 p-3 rounded rounded-1 shadow">

    <EditForm Model="ObjExtension">
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Nombre</label>
            <InputText @bind-Value="ObjExtension.PhoneExtensionName" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Tipo de Extension</label>
            <InputSelect @bind-Value="ObjExtension.Type" class="form-select w-75">
                <option value="Móvil">Móvil</option>
                <option value="Oficina">Oficina</option>
                <option value="No Definido">No Definido</option>
            </InputSelect>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Extension</label>
            <InputNumber @bind-Value="ObjExtension.Extension" class="form-control form-control-sm w-75"></InputNumber>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Desvios</label>
            <InputText @bind-Value="ObjExtension.Forwardings" class="form-control w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Descripción</label>
            <InputText @bind-Value="ObjExtension.Description" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Numero de Usuario</label>
            <InputText @bind-Value="ObjExtension.UserNumber" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Contrasena</label>
            <InputText @bind-Value="ObjExtension.Password" class="form-control form-control-sm w-75"></InputText>
        </div>
        <div class="form-group d-flex flex-row justify-content-sm-between px-5 my-2">
            <label>Telefono PBX</label>
            <InputNumber @bind-Value="ObjExtension.PhoneNumberPBX" class="form-control form-control-sm w-75"></InputNumber>
        </div>
    </EditForm>
    <button @onclick="Save" class="btn btn-outline-info">
        Actualizar
    </button>
</div>


@code {
    [Parameter]
    public PhoneExtension ObjExtension { get; set; }



    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
    }

    private async Task Save()
    {
        try
        {

            _ExtensionsService.Update(ObjExtension);

   
            Nav.NavigateTo("extensions");

        }
        catch (Exception e)
        {

            throw e;
        }
    }
}
