<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">InventoryIT</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/employees">
                <span class="oi oi-people" aria-hidden="true"></span> Empleados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/computers">
                <span class="oi oi-laptop" aria-hidden="true"></span> Computadoras
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/smartphones">
                <span class="oi oi-phone" aria-hidden="true"></span> Celulares
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/phones-numbers">
                <span class="oi oi-wifi" aria-hidden="true"></span> Lineas 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/phone-number-user">
                <span class="oi oi-check" aria-hidden="true"></span> Asignaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/extensions">
                <span class="oi oi-headphones" aria-hidden="true"></span> Extensiones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/peripherals">
                <span class="oi oi-box" aria-hidden="true"></span> Periféricos
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Administradores
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
