@page "/phones-numbers"


@inject IControllerServices<PhoneNumber> _PhoneNumberService;

<h3>Lineas Telefonicas</h3>

<AuthorizeView Roles="Administrador">
    <Authorized>
        <AddPhoneNumberComponent OnPhoneNumberAdded="UpdateList" />

    </Authorized>
    <NotAuthorized>
        <h3>No posee permisos</h3>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Administrador,Lector">
    <Authorized>
        <TablePhoneNumbersComponent PhoneNumbers="@Phones" />
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>





@code {
    List<PhoneNumber> Phones { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Phones = new();
        base.OnInitializedAsync();


        // Get the computers in the db
        Phones = _PhoneNumberService.GetAll();

    }

    private async Task UpdateList()
    {
        // Actualizar la lista de computadoras después de agregar una nueva computadora
        await InvokeAsync(() =>
        {
            Phones = _PhoneNumberService.GetAll();
            StateHasChanged(); // Asegura que se vuelva a renderizar el componente padre
        });
    }

}







